@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 42%;
    --border: 240 6% 82%;
    --accent: 240 6% 10%;
    --accent-foreground: 0 0% 98%;
  }

  .dark {
    --background: 240 6% 6%;
    --foreground: 0 0% 94%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 94%;
    --muted: 240 5% 16%;
    --muted-foreground: 240 5% 65%;
    --border: 240 5% 20%;
    --accent: 0 0% 98%;
    --accent-foreground: 240 6% 10%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
